@import url(nav.css);
@import url(footer.css);
/* forma Get in Touch */

.contact-container {
    max-width: 600px;
    margin: 10px auto;
    padding: 40px;
    text-align: center;

  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
  }
  
  .contact-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  input,
  textarea {
    padding: 10px;
    border: 1px solid #00bfa5;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
  }
  
  input::placeholder,
  textarea::placeholder {
    color: #aaa;
  }
  
  textarea {
    resize: vertical;
    height: 100px;
  }
  
  .submit-btn {
    text-align: center;
  }
  
  button {
    background-color: black;
    color: #fff;
    padding: 12px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 50%;
  }
  
  button:hover {
    background-color: #333;
  }
  