@import url(footer.css);
@import url(nav.css);
.text {
    background-color:white;
    width: 880px;

}
.title {
color: #00bfa5;
}

.default {
color: rgb(136, 146, 143);  
}

.morijorch {
    color: #00bfa5;
}